@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;600 & display=swap");
* {
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background: linear-gradient(180deg, #d8f5fa 16%, white 96%);
  overflow-x: hidden 100%; }

h3 {
  font-size: 2rem;
  padding-bottom: 4vh;
  animation-name: textAlpha;
  animation-duration: 3s; }
  @media (min-width: 768px) {
    h3 {
      font-size: 3.9rem; } }

@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 2; } }

header a img {
  padding-top: 1vh; }

iframe {
  width: 100%;
  height: 20vh;
  margin-top: 2%; }
  @media (min-width: 1024px) {
    iframe {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%; } }

.card-body {
  background-color: #F2F2F2; }

input {
  background-color: white;
  color: black;
  border: 2px solid #92A4A6;
  border-radius: 12px;
  margin-top: 2%; }
  input:hover {
    background: radial-gradient(circle, white 0%, #d5eff2 100%);
    transition: all 2s;
    cursor: text; }

#div {
  background-color: #92A4A6;
  font-size: 1.5rem; }
  @media (min-width: 1024px) {
    #div {
      font-size: 2rem; } }

#p {
  font-size: 1.4rem;
  overflow: hidden;
  line-height: 2rem;
  text-align: center;
  padding: 2%; }
  @media (min-width: 768px) {
    #p {
      font-size: 2.5rem;
      line-height: 3rem; } }
  @media (min-width: 1024px) {
    #p {
      font-size: 2.5rem;
      line-height: 4rem;
      padding: 3%; } }

#h1 {
  font-size: 3.9rem; }
  @media (min-width: 768px) {
    #h1 {
      font-size: 9rem; } }

#nav {
  width: 100%;
  background-color: rgba(216, 245, 250, 0.5);
  display: flex;
  justify-content: end; }

nav img {
  height: 18vh; }
  @media (min-width: 768px) {
    nav img {
      height: 21vh; } }
  @media (min-width: 1024px) {
    nav img {
      height: 27vh; } }

ul {
  text-align: right; }

li {
  font-size: 1.3rem;
  padding-right: 3vw; }
  @media (min-width: 768px) {
    li {
      font-size: 1.8rem; } }
  li:hover {
    transform: scale(1.02);
    transition: transform 1s; }

.form {
  margin: 5%;
  padding: 5%;
  font-size: 1.5rem;
  line-height: 3rem;
  display: flex;
  flex-direction: column; }

#pie {
  margin-top: 10vh;
  font-size: 1.2rem;
  display: flex;
  align-content: center;
  justify-content: center; }
  @media (min-width: 768px) {
    #pie {
      font-size: 1.5rem; } }
  @media (min-width: 1024px) {
    #pie {
      font-size: 1.8rem; } }

footer img {
  width: 7vh;
  margin: 2vh; }
  @media (min-width: 768px) {
    footer img {
      width: 9vh;
      margin: 2vh; } }
  @media (min-width: 1024px) {
    footer img {
      width: 15vh; } }

footer a img {
  width: 4vh;
  display: inline-flex;
  align-content: space-around; }
  @media (min-width: 768px) {
    footer a img {
      width: 6vh; } }
  @media (min-width: 1024px) {
    footer a img {
      width: 8vh; } }
  @media (min-width: 1200px) {
    footer a img {
      width: 9vh;
      margin: 3vh; } }

footer ul li {
  list-style: none;
  text-decoration: none;
  text-align: center; }
