@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;600 & display=swap');

/*hoja de estilo*/

*{
	font-family: 'Montserrat', sans-serif;
	color: black;
	padding: 0;
	margin: 0;
		}

html{
	font-size: 62.5%;
		}

body{
	background: linear-gradient(180deg, rgba(216,245,250,1) 16%, rgba(255,255,255,1) 96%);
	overflow-x: hidden 100%;
		}

nav a img {
	height: 18vh;
		}

		nav ul li{
			padding-right: 3vw;
			text-align: right;
			font-size: 1.3rem;
		       }
							
				
header a img{
	padding-top: 1vh;
		}


h3{
	font-size: 2rem;
	padding-bottom: 4vh;
	animation-name: textAlpha;
	animation-duration: 3s;
		}

@keyframes textAlpha{
	from {opacity: 0;}
	to{opacity: 2;}
}


iframe{
	width: 100%;
	height: 20vh;
	margin-top: 2%;
		}

footer img{
	width: 7vh;
	margin: 2vh;
		}
			footer a img{
			width: 3.5vh;
			display: inline-flex;
			align-content: space-around;
				}
					footer ul li{
						list-style: none;
						text-decoration: none;
						text-align: center;
							}

.text-bold {
	font-weight: 600;
		}

.text-regular {
	font-weight: 400;
		}

.text-light {
	font-weight: 300;
		} 

.form {
	margin: 5%;
	padding: 5%;
	font-size: 1.5rem;
	line-height: 3rem;
	display: flex;
	flex-direction: column;
		}

.card-body{
	background-color: #F2F2F2;
}

input{
	background-color: white;
    color: black;
    border: 2px solid #92A4A6;
	border-radius: 12px;
	margin-top: 2%;
		}

input:hover{
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(213,239,242,1) 100%);
	transition: all 2s;
	cursor: text;
}

#input:hover{
	cursor: pointer;
}


#h1{
	font-size: 3.8rem;
}

#div{
	background-color: #92A4A6;
	font-size: 1.5rem;
		}

#nav{
	width: 100%;
	background-color: rgba(216, 245, 250, .5);
	display: flex;
	justify-content: end;
		}

#pie{
	margin-top: 10vh;
	font-size: 1.2rem; 
	display: flex;
	align-content: center;
	justify-content: center;
		}

#figure{
	display: flex;
	flex-direction: column;
	align-content: center;
		}

#p{
	font-size: 1.4rem;
	overflow: hidden;
	line-height: 2rem;
	text-align: center;
	padding: 2%;
		}


@media (min-width: 768px){

	#h1{
	font-size: 9rem;
		}

	nav ul li {
		color: black;
		font-size: 1.8rem;
			}

			nav ul li:hover{
				transform: scale(1.02);
				transition: transform 1s;
			}

				nav a img {
					height: 21vh;
					}


	footer img{
		width: 9vh;
		margin: 2vh;
			}
	
	footer a img{
		width: 6.5vh;
			}


	#p {
		font-size: 2.5rem;
		line-height: 3rem;
			}

	#pie {
		font-size: 1.5rem;
			}

}

@media (min-width: 1024px){

	#div{
		font-size: 2rem;
			}

	#p {
		font-size: 2.5rem;	
		line-height: 4rem;
		padding: 3%;
			}

	#pie{
		font-size: 1.7rem;
			}

	nav a img {
		height: 27vh;
			}	


	h3{
		font-size: 4rem;
			}

	footer img{
		width: 9.5vh;
		margin: 2vh;
			}
	
	footer a img{
		width: 8.5vh;
			}

	iframe{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

}


@media (min-width: 1200px){
	
	footer img{
		width: 13vh;
		margin: 3vh;
			}
	}

	




