#nav{
	width: 100%;
	background-color: $navColor;
	display: flex;
	justify-content: end;


}
		
	nav img {
	height: 18vh;
	@media (min-width: 768px){
		height: 21vh;
	}

	@media (min-width: 1024px){
		height: 27vh;
		}

	}

		ul {
			text-align: right;

		}
			
			li{
				font-size: $textXs;
				padding-right: 3vw;
				@media (min-width: 768px){
					font-size: $textM;

				}

					&:hover{
					transform: scale(1.02);
					transition: transform 1s;
		       			}
			}
	
