//mapa color

$paleta:(

'background': linear-gradient(180deg, rgba(216,245,250,1) 16%, rgba(255,255,255,1) 96%),
'fontColor': #1B365C,
'navColor': rgba(216, 245, 250, .5),
'cardColor': #F2F2F2,
'imputColor': radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(213,239,242,1) 100%),
'divColor': #92A4A6,  
'whiteColor': white, 

); 

$variables:(

'logo': #D5EFF2,
'logoApagado': #BFD6D9, 
'logoIntenso': #A8BDBF,  
'logoOscuro': #515958,  
'logoOscuroII': #252624,  
'colorPasto': #8C873B,  
'colorPastoII': #736624,  
'colorTeja': #BF6E3F,   
'colorTejasII': #703515,   
'colorSierras': #736448,   
'colorCielo': #9ABBD9,   
'colorCieloII': #4B7BA6, 

);